<nav *ngIf="!isDashboardPage" class="fixed top-0 left-0 w-full z-50 p-6 flex justify-between items-center bg-gradient-to-b from-black/80 to-transparent pointer-events-auto">
  <a routerLink="/" class="text-3xl font-black italic tracking-tighter text-white drop-shadow-[0_0_10px_rgba(0,221,235,0.8)]">PEPSICO</a>
  <div class="space-x-6 font-bold text-lg">
    <a routerLink="/login" class="text-white hover:text-[#00ddeb] transition-colors duration-300 drop-shadow-md">LOGIN</a>
    <a routerLink="/register" class="text-white hover:text-[#ff0055] transition-colors duration-300 drop-shadow-md">REGISTER</a>
  </div>
</nav>


<main id="main-scroll-container" class="relative z-10 w-full min-h-screen">
  <router-outlet></router-outlet>
</main>

<app-scene *ngIf="!isDashboardPage"></app-scene>
